.full-page {
    height: calc(100vh - var(--mud-appbar-height, 0px));
    padding: 0;
}

.full-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* cover = ganzflaechig, contain = komplett sichtbar */
    display: block;
}
