
.wheel-clip {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.wheel {
    position: relative;
    z-index: 1;
    width: calc(100% - 18px);
    height: calc(100% - 18px);
    border-radius: 50%;
    border: 6px solid rgba(255,255,255,.75);
    overflow: hidden; /* hier hin */
    will-change: transform;
}

.pointer {
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 36px solid #ef4444; /* zeigt nach unten */

    filter: drop-shadow(0 4px 6px rgba(0,0,0,.4));
}

.pointer.spin {
    animation: pulse 0.6s ease-in-out infinite alternate;
}

@keyframes pulse {
    from {
        transform: translateX(-50%) scale(1);
    }

    to {
        transform: translateX(-50%) scale(1.15);
    }
}

.wheel.spin {
    animation-name: wheel-spin;
    animation-timing-function: cubic-bezier(.12,.75,.1,1);
    animation-fill-mode: forwards;
}

@keyframes wheel-spin {
    from {
        transform: rotate(var(--from, 0deg));
    }

    to {
        transform: rotate(var(--spin-to));
    }
}
