@using Microsoft.AspNetCore.Components.Forms
@using MudBlazor
<div style="position:relative; width:200px;">
    <p>
        @_error
    </p>

    <p>
        @_imageDataUrl
    </p>

    <MudButton style="width:100%;">
        Foto aufnehmen
    </MudButton>

    <InputFile id="cameraInput"
               OnChange="OnFileSelectedAsync"
               accept="image/*"
               capture="environment"
               style="
                   position:absolute;
                   top:0;
                   left:0;
                   width:100%;
                   height:100%;
                   opacity:0;
                   cursor:pointer;
               "/>
</div>